.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadein 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 20px;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  margin-right: 30vw;
}

@media (max-width: 1050px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 80%;
  }
 
  .header-contents button {
    padding: 2vw 4vw;
    margin-bottom: 5vw;
  }
}

@media (max-width: 425px) {
  .header-contents h2 {
    font-size: 15px;
    font-weight: 500;
    margin-right: 60px;
  }
  .header-contents p {
    font-size: max(2vw, 9px);
  }
  .header-contents button {
    padding: 1vw 5vw;
    font-size: max(2vw, 1px);
    height: 6vw;
    margin-right: 50vw;
    margin-bottom: 15px;
  }
}
